button {
    margin: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

 .btn:hover{
        transform: translateY(-2px);
        cursor: pointer;
      }

.card {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-bottom: 10px;
}

.imagem-chuck {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}