<div class="modal-header">
  <h4 class="modal-title">Piada do Chuck Norris</h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="closeModal()"></button>
</div>

<div class="modal-body text-center">
  <div *ngIf="isLoading" class="text-muted">Carregando nova piada...</div>
  <div *ngIf="errorMessage" class="text-danger">{{ errorMessage }}</div>

  <div *ngIf="!isLoading && !errorMessage">
    <img [src]="imagem" alt="Ícone" class="mb-3" width="80" height="80" />
    <p>{{ valor }}</p>
    <button class="btn btn-outline-primary mt-3" (click)="carregarOutraPiada()">
      Carregar Outra Piada
    </button>
  </div>
</div>
